body {
  background-image: url('assets_pictures/reloj_flores.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}